/* EQUIPE --- SLIDE*/

.equipe {
  padding: 50px 0;
  position: relative;
}

.slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.slide-wrapper {
  overflow-x: hidden;
}

.equipe-item {
  max-width: 400px;
  min-width: 300px;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  opacity: 0.5;
  margin: 50px 0;
  transform: scale(0.8);
  background: #fff;
  backdrop-filter: blur(50px);
}

.equipe-item.active {
  opacity: 0.8;
  transform: scale(1);
}

.advogado {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.equipe-item h3 {
  font-family: var(--titulos);
  font-size: 1.25rem;
}

.equipe-item h4 {
  font-family: var(--texts);
  font-size: 1rem;
  color: #fb7c07;
  margin: 10px 0 10px 0%;
}

.sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.next {
  background: url("../img/arrow-right.svg") center center no-repeat;
  right: 20px;
  top: 50%;
}

.prev,
.next {
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: absolute;
}

.prev:hover,
.next:hover {
  transform: scale(1.2);
}

.prev {
  background: url("../img/arrow-left.svg") center center no-repeat;
  left: 20px;
  top: 50%;
}
