* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h2 {
  font-family: var(--titulos);
  font-size: 2.75rem;
  color: var(--cor);
  margin-bottom: 30px;
}

/* VARIAVEIS */

:root {
  --titulos: "DM Serif Display", serif;
  --texts: "Space Grotesk", sans-serif;
  --labels: "Montserrat", sans-serif;
  --cor: #252525;
  --cor0: #000;
  --cor1: #111;
  --cor2: #fff;
  --cor3: #db6a01;
  --cor4: #fb7c07;
  --cor5: #b8b8b8;
  --cor6: #f9f8f8;
}

/* Container */

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

/* FOOTER */

.footer-bg {
  background: linear-gradient(var(--cor1), var(--cor0));
  padding: 50px 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.contatos-ft h2,
.footer-nav h2,
.footer-nav a {
  color: var(--cor2);
}

.footer-nav li {
  font-family: var(--labels);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contatos-ft address a,
.contatos-ft address p {
  padding: 5px 0;
}

@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 20px;
  }

  /* FOOTER */

  .contatos-ft h2,
  .footer-nav h2 {
    font-size: 2rem;
  }

  .footer-nav li,
  .contatos-ft address a,
  .contatos-ft address p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  /* FOOTER */

  .footer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.js [data-scroll] {
  opacity: 0;
  transition: 2s;
}

.js [data-scroll].active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js [data-scroll="left"] {
  transform: translate3d(-50%, 0, 0);
}

.js [data-scroll="top"] {
  transform: translate3d(0, -50%, 0);
}

.js [data-scroll="bottom"] {
  transform: translate3d(0, 50%, 0);
}

.js .menu-nav li {
  opacity: 0;
  transform: translate3d(0, -150%, 0);
}

@media only screen and (max-width: 1000px) {
  .js .menu-nav li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animateMenu {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
