* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h2 {
  font-family: var(--titulos);
  font-size: 2.75rem;
  color: var(--cor);
  margin-bottom: 30px;
}
/* VARIAVEIS */

:root {
  --titulos: "DM Serif Display", serif;
  --texts: "Space Grotesk", sans-serif;
  --cor: #252525;
  --cor0: #000;
  --cor1: #111;
  --cor2: #fff;
  --cor3: #db6a01;
  --cor4: #fb7c07;
  --cor5: #b8b8b8;
}

/* Container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.menu {
  display: grid;
  grid-template-columns: 1fr 400px;
  justify-content: space-around;
  align-items: center;
}

.menu-bg {
  background: linear-gradient(180deg, var(--cor1), var(--cor0));
  padding: 10px 0;
}

.menu-nav ul {
  display: flex;
}

.menu-nav a {
  color: var(--cor2);
  font-family: var(--texts);
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  position: relative;
}

.menu-nav a::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background: var(--cor4);
  transition: 0.3s ease-in-out;
  margin: 20px 0 0 20px;
  position: absolute;
}

.menu-nav a:hover::after {
  width: 80%;
}

/* BANNER */

.banner-bg {
  background: linear-gradient(var(--cor0), var(--cor1));
  padding: 50px 0;
  box-shadow: inset 0 -280px var(--cor2);
}

.banner {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 1fr;
}

.banner-title h1 {
  font-family: var(--titulos);
  font-size: 3rem;
  color: var(--cor2);
  margin-bottom: 20px;
}

.banner-title p {
  font-family: var(--texts);
  font-size: 1.25rem;
  color: var(--cor5);
  margin-bottom: 50px;
}

.banner-title a {
  display: block;
  text-align: center;
  font-family: var(--titulos);
  font-size: 1.875rem;
  color: var(--cor2);
  background: var(--cor3);
  padding: 15px;
  border-radius: 6px;
  transition: transform 0.3s;
}

.banner-title a:hover {
  background: var(--cor4);
  transform: translate3d(0, -5px, 0);
}

/* SOBRE */
.sobre {
  padding-bottom: 50px;
}

.sobre p {
  font-family: var(--texts);
  font-size: 1.125rem;
  color: var(--cor1);
}

.sobre p + p {
  margin-top: 30px;
}

/* numeros */

.numeros-bg {
  padding: 50px;
  border-top: 2px solid var(--cor0);
  border-bottom: 2px solid var(--cor0);
}

.numeros h3 {
  font-family: var(--texts);
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--cor5);
}

.container-numeros {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 350px);
  padding-top: 50px;
}

.numeros-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
}

.numeros-item img {
  grid-row: span 2;
}

.num {
  display: flex;
  justify-content: center;
  color: var(--cor3);
  font-family: var(--texts);
  font-size: 2rem;
  font-weight: bold;
}

.num-desc {
  font-family: var(--texts);
  font-size: 1.25rem;
  font-weight: bold;
}

/* EQUIPE --- SLIDE*/

.equipe {
  padding: 50px 0;
}

.slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.equipe-item {
  max-width: 400px;
  min-width: 300px;
  border: 2px solid var(--cor0);
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  opacity: 0.6;
  transform: scale(0.8);
}

.equipe-item.active {
  opacity: 1;
  transform: scale(1);
}

.advogado {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.equipe-item h3 {
  font-family: var(--titulos);
  font-size: 1.25rem;
}

.equipe-item h4 {
  font-family: var(--texts);
  font-size: 1rem;
  color: #fb7c07;
  margin: 10px 0 10px 0%;
}

.sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
